/* body{
  background-color:blue;
}
hr{

  border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width:5px;
  width: 35%;

}
h1,h3{
  color: #82954B
}
*/
h1{
  color: red;
  font-size: 200px;
}
h1:hover{
  background: red;
}
img:hover{
  background-color: gold;
}
.bacon{
  background-color: grey;
}
 .cake{
   background-color: red;
 }
 .cake{
   border-radius: 100%;
 }
 #heading{
   color: blue;
 }
